<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinet.rest.mapper.CartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinet.rest.entity.Cart">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="customer_id" property="customerId"/>
        <result column="shop_id" property="shopId"/>
        <result column="dish_id" property="dishId"/>
        <result column="dish_type" property="dishType"/>
        <result column="shop_prod_id" property="shopProdId"/>
        <result column="prod_num" property="prodNum"/>
        <result column="cart_status" property="cartStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        customer_id, shop_id, dish_id, dish_type, shop_prod_id, prod_num, cart_status
    </sql>
    <select id="selectCartList" resultType="com.pinet.rest.entity.vo.CartListVo"
            parameterType="com.pinet.rest.entity.dto.CartListDto">
        select c.id            cartId,
               sp.product_name prodName,
               sp.product_img  prodImg,
               c.prod_num      prodNum,
               c.dish_type      dishType,
               c.cart_status   cartStatus,
               c.shop_prod_id  shopProdId
        from qingshi.cart c
                 left join shop_product sp on sp.id = c.shop_prod_id
        where c.del_flag = 0
          and c.shop_id = #{shopId} and c.customer_id = #{customerId}
        order by c.cart_status, c.create_time desc
    </select>

    <select id="getCartByUserIdAndShopId" resultType="com.pinet.rest.entity.vo.CartVo">
        select ifnull(sum(prod_num),0) as prodNum,ifnull(sum(price),0) as price from (
            select  c.id,c.prod_num ,(c.prod_num * sps.price) as price
            from cart c
            left join cart_product_spec cps on c.id = cps.cart_id and cps.del_flag = 0
            left join shop_product_spec sps on  sps.id = cps.shop_prod_spec_id and sps.del_flag = 0
            where c.shop_id = #{shopId} and c.customer_id = #{customerId}
            and c.cart_status = 1
            and c.dish_type = 'SINGLE'
            and c.del_flag= 0
            group by c.id

            UNION ALL

           select (sum(price) * sum(prodNum))as price,sum(prodNum) as prodNum
           from (
	            <!-- 最小单价-->
                select
                c.id,sum(kcgd.price/100) as price, c.prod_num as prodNum
                from cart c
                left join kry_combo_group kcg on c.shop_prod_id = kcg.shop_prod_id and kcg.del_flag = 0
                left join kry_combo_group_detail kcgd on kcg.id = kcgd.combo_group_id and kcgd.single_dish_id = '' and kcgd.del_flag = 0
                where c.id = #{cartId}

                union all

               <!-- 规格加价-->
                select
                sum(kcgd.dish_sku_price/100) as price, 0 as prodNum
                from cart c
                left join kry_combo_group kcg on c.shop_prod_id = kcg.shop_prod_id and kcg.del_flag = 0
                left join kry_combo_group_detail kcgd on kcg.id = kcgd.combo_group_id and kcgd.del_flag = 0
                left join shop_product single on single.prod_id = kcgd.single_dish_id and single.shop_id = 24
                left join shop_product_spec sps on sps.shop_prod_id = single.id and kcgd.spec_name = sps.spec_name and sps.del_flag = 0
                where sps.id in
                (
                        select ccds.shop_prod_spec_id
                        from cart_combo_dish ccd
                        left join cart_combo_dish_spec ccds on ccd.cart_id = ccds.cart_id and ccd.shop_prod_id = ccds.shop_prod_id and ccds.del_flag = 0
                        where ccd.cart_id = #{cartId}
                )
                and c.id = #{cartId}
                and kcg.del_flag = 0
            ) combo

        ) t
    </select>

    <select id="getByUserIdAndShopProdId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from cart where customer_id = #{customerId} and shop_prod_id = #{shopProdId} and del_flag = 0
    </select>

    <select id="getSingleByCartId" resultType="java.math.BigDecimal">
        select  sps.price as price
        from cart c
        left join cart_product_spec cps on c.id = cps.cart_id and cps.del_flag = 0
        left join shop_product_spec sps on  sps.id = cps.shop_prod_spec_id and sps.del_flag = 0
        where c.cart_status = 1
        and c.id = #{cartId}
        and c.del_flag= 0
    </select>

    <select id="getComboByCartId" resultType="java.lang.Long">
        select sum(price) as price
        from (
            <!-- 最小单价-->
            select
            sum(kcgd.price) as price
            from cart c
            left join kry_combo_group kcg on c.shop_prod_id = kcg.shop_prod_id and kcg.del_flag = 0
            left join kry_combo_group_detail kcgd on kcg.id = kcgd.combo_group_id and kcgd.single_dish_id = '' and kcgd.del_flag = 0
            where c.id = #{cartId} and c.cart_status = 1 and c.del_flag= 0

            union all

            <!-- 规格加价-->
            select
            sum(kcgd.dish_sku_price) as price
            from cart c
            left join kry_combo_group kcg on c.shop_prod_id = kcg.shop_prod_id and kcg.del_flag = 0
            left join kry_combo_group_detail kcgd on kcg.id = kcgd.combo_group_id and kcgd.del_flag = 0
            left join shop_product single on single.prod_id = kcgd.single_dish_id and single.shop_id = c.shop_id
            left join shop_product_spec sps on sps.shop_prod_id = single.id and kcgd.spec_name = sps.spec_name and sps.del_flag = 0
            where sps.id in
            (
            select ccds.shop_prod_spec_id
            from cart_combo_dish ccd
            left join cart_combo_dish_spec ccds on ccd.cart_id = ccds.cart_id and ccd.shop_prod_id = ccds.shop_prod_id and ccds.del_flag = 0
            where ccd.cart_id = #{cartId}
            )
            and c.id = #{cartId}
            and c.cart_status = 1
            and kcg.del_flag = 0
        ) combo
    </select>

</mapper>
