<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinet.rest.mapper.CartComboDishMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinet.rest.entity.CartComboDish">
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="cart_id" property="cartId" />
        <result column="shop_prod_id" property="shopProdId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        cart_id, shop_prod_id
    </sql>

    <resultMap id="CartComboDishMap" type="com.pinet.rest.entity.vo.CartComboDishVo">
        <result column="singleProdId" property="shopProdId" />
        <result column="product_name" property="prodName" />
        <result column="product_img" property="productImg" />
        <result column="cart_status" property="cartStatus" />
        <collection property="comboDishSpecs" resultMap="CartComboDishSpecMap"/>
    </resultMap>

    <resultMap id="CartComboDishSpecMap" type="com.pinet.rest.entity.vo.CartComboDishSpecVo">
        <result column="shop_prod_spec_id" property="shopProdSpecId" />
        <result column="shop_prod_spec_name" property="shopProdSpecName" />
        <result column="shopProdId" property="shopProdId" />
        <result column="singleProdId" property="singleProdId" />
    </resultMap>


    <select id="getComboDishByCartId" resultMap="CartComboDishMap">
        select
            #{shopProdId} as shopProdId,
            ccd.shop_prod_id as singleProdId,
            sp.product_name,
            sp.prod_id,
            sp.product_img,
            ccds.shop_prod_spec_id,
            ccds.shop_prod_spec_name,
            <!--(case when t.single_dish_id is null or sp.del_flag = 1 or sp.shop_prod_status = 2 then 2 else 1 end ) cart_status-->
            (case when sp.del_flag = 1 or sp.shop_prod_status = 2 then 2 else 1 end ) cart_status
        from cart_combo_dish ccd
        left join cart_combo_dish_spec ccds on ccd.shop_prod_id = ccds.shop_prod_id and ccd.cart_id = ccds.cart_id and ccds.del_flag = 0
        left join shop_product sp on sp.id = ccd.shop_prod_id
       <!-- left join (
            select kcgd.single_dish_id, kcgd.dish_name, kcgd.spec_name, kcgd.price
            from kry_combo_group kcg
			inner join kry_combo_group_detail kcgd on kcg.id = kcgd.combo_group_id  and kcgd.del_flag = 0
			where kcg.shop_prod_id = #{shopProdId} and kcg.del_flag = 0
        ) t on t.single_dish_id = sp.prod_id and t.spec_name = ccds.shop_prod_spec_name-->
        where ccd.cart_id = #{cartId}
    </select>
</mapper>
