<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinet.rest.mapper.CartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinet.rest.entity.Cart">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="customer_id" property="customerId"/>
        <result column="shop_id" property="shopId"/>
        <result column="dish_id" property="dishId"/>
        <result column="shop_prod_id" property="shopProdId"/>
        <result column="prod_num" property="prodNum"/>
        <result column="cart_status" property="cartStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        customer_id, shop_id, dish_id, shop_prod_id, prod_num, cart_status
    </sql>
    <select id="selectCartList" resultType="com.pinet.rest.entity.vo.CartListVo"
            parameterType="com.pinet.rest.entity.dto.CartListDto">
        select c.id            cartId,
               sp.product_name prodName,
               sp.product_img  prodImg,
               c.prod_num      prodNum,
               c.cart_status   cartStatus,
               c.shop_prod_id  shopProdId
        from qingshi.cart c
                 left join shop_product sp on sp.id = c.shop_prod_id
        where c.del_flag = 0
          and c.shop_id = #{shopId} and c.customer_id = #{customerId}
        order by c.cart_status, c.create_time desc
    </select>

    <select id="getCartByUserIdAndShopId" resultType="com.pinet.rest.entity.vo.CartVo">
        select ifnull(SUM(prod_num),0) as prodNum,ifnull(sum(price),0) as price from (
            select c.id,c.prod_num,(ifnull(sum(sps.price),0) * c.prod_num) as price
            from cart c
            left join cart_product_spec cps on c.id = cps.cart_id and cps.del_flag = 0
            left join shop_product_spec sps on  sps.id = cps.shop_prod_spec_id and sps.del_flag = 0
            where c.shop_id = #{shopId} and c.customer_id = #{customerId}
            and c.cart_status = 1
            and c.del_flag= 0
            group by c.id
        ) t
    </select>

</mapper>
