<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinet.rest.mapper.CartProductSpecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinet.rest.entity.CartProductSpec">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="cart_id" property="cartId"/>
        <result column="shop_prod_spec_id" property="shopProdSpecId"/>
        <result column="shop_prod_spec_name" property="shopProdSpecName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        cart_id, shop_prod_spec_id, shop_prod_spec_name
    </sql>
    <select id="selectByCartId" resultType="com.pinet.rest.entity.CartProductSpec">
        select cps.*, sps.price
        from cart_product_spec cps
                 left join shop_product_spec sps on cps.shop_prod_spec_id = sps.id
        where cps.cart_id = #{cartId}
          and cps.del_flag = 0
    </select>
    <select id="selectByUserIdAndSpecId" resultType="com.pinet.rest.entity.CartProductSpec">
        select cps.*
        from qingshi.cart c
                 left join cart_product_spec cps on c.id = cps.cart_id
        where c.del_flag = 0 and c.customer_id = #{userId} and cps.shop_prod_spec_id = #{shopProdSpecId}
    </select>

</mapper>
