<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinet.rest.mapper.CustomerCouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinet.rest.entity.CustomerCoupon">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="coupon_grant_id" property="couponGrantId"/>
        <result column="coupon_grant_record_id" property="couponGrantRecordId"/>
        <result column="customer_id" property="customerId"/>
        <result column="expire_time" property="expireTime"/>
        <result column="coupon_name" property="couponName"/>
        <result column="coupon_type" property="couponType"/>
        <result column="shop_id" property="shopId"/>
        <result column="threshold_amount" property="thresholdAmount"/>
        <result column="coupon_amount" property="couponAmount"/>
        <result column="coupon_status" property="couponStatus"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        coupon_grant_id, coupon_grant_record_id, customer_id, expire_time, coupon_name, coupon_type, shop_id, threshold_amount, coupon_amount, coupon_status
    </sql>
    <select id="selectCustomerCouponList" resultType="com.pinet.rest.entity.CustomerCoupon">
        select cc.*,
               s.shop_name shopName
        from qingshi.customer_coupon cc
                 left join shop s on s.id = cc.shop_id
        where cc.customer_id = #{userId}
          and cc.coupon_status &lt;= 2
          and cc.del_flag = 0
          and cc.expire_time > now()
        order by cc.coupon_status, cc.create_time desc
    </select>
    <select id="selectCustomerCouponDetailList" resultType="com.pinet.rest.entity.CustomerCoupon">
        select cc.*,
               s.shop_name shopName
        from qingshi.customer_coupon cc
                 left join shop s on s.id = cc.shop_id
        where cc.del_flag = 0
          and cc.customer_id = #{userId}
        order by cc.create_time desc
    </select>
    <select id="selectcustomerCouponInvalidList" resultType="com.pinet.rest.entity.CustomerCoupon">
        select cc.*,
               s.shop_name shopName
        from qingshi.customer_coupon cc
                 left join shop s on s.id = cc.shop_id
        where cc.del_flag = 0
          and cc.customer_id = #{userId}
          and cc.expire_time &lt; now()
        order by cc.create_time desc
    </select>
    <select id="selectIndexCouponList" resultType="com.pinet.rest.entity.CustomerCoupon">
        select
            cc.*,
            s.shop_name shopName
        from qingshi.customer_coupon cc
                 left join shop s on s.id = cc.shop_id
        where cc.del_flag = 0 and cc.customer_id = #{userId} and cc.expire_time > now() and cc.id > #{lastId}
        order by cc.id desc
    </select>

</mapper>
