<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinet.rest.mapper.KryComboGroupDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinet.rest.entity.KryComboGroupDetail">
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="dish_id" property="dishId" />
        <result column="combo_group_id" property="comboGroupId" />
        <result column="single_dish_id" property="singleDishId" />
        <result column="max_choose" property="maxChoose" />
        <result column="min_choose" property="minChoose" />
        <result column="fix_choose" property="fixChoose" />
        <result column="dish_sku_id" property="dishSkuId" />
        <result column="dish_sku_price" property="dishSkuPrice" />
        <result column="opt_type" property="optType" />
        <result column="default_flag" property="defaultFlag" />
        <result column="dish_name" property="dishName" />
        <result column="spec_name" property="specName" />
        <result column="sell_price" property="sellPrice" />
        <result column="multi_spec_flag" property="multiSpecFlag" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        kcgd.id,
        kcgd.create_by,
        kcgd.create_time,
        kcgd.update_by,
        kcgd.update_time,
        kcgd.del_flag,
        kcgd.dish_id, kcgd.combo_group_id, kcgd.single_dish_id, kcgd.max_choose, kcgd.min_choose, kcgd.fix_choose, kcgd.dish_sku_id, kcgd.dish_sku_price, kcgd.opt_type, kcgd.default_flag, kcgd.dish_name, kcgd.spec_name, kcgd.sell_price, kcgd.price, kcgd.multi_spec_flag, kcgd.sort
    </sql>

    <select id="getByOrderProdId" resultType="com.pinet.rest.entity.vo.KryComboGroupDetailVo">
        select kcgd.id,
        kcgd.dish_id,
        kcgd.combo_group_id,
        kcgd.single_dish_id,
        kcgd.max_choose,
        kcgd.min_choose,
        kcgd.fix_choose,
        kcgd.dish_sku_id,
        kcgd.dish_sku_price,
        kcgd.opt_type,
        kcgd.default_flag,
        kcgd.dish_name,
        kcgd.spec_name,
        kcgd.sell_price,
        kcgd.price,
        kcgd.multi_spec_flag,
        kcgd.sort,
        sp.unit_id,
        sp.unit,
        sp.dish_code,
        sp.product_img as imageUrl
        from kry_combo_group_detail kcgd
        left join shop_product sp on sp.prod_id = kcgd.single_dish_id and sp.shop_id = #{shopId} and sp.del_flag = 0
        where kcgd.id in
        (select shop_prod_spec_id from order_product_spec where order_prod_id = #{orderProdId} and prod_sku_name != '规格' and del_flag = 0)
        and kcgd.del_flag = 0
        order by kcgd.id
    </select>


    <select id="getByShopProdId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from kry_combo_group kcg
        inner join kry_combo_group_detail kcgd on kcgd.combo_group_id = kcg.id and kcgd.del_flag = 0
        where kcg.shop_prod_id = #{shopProdId} and kcg.del_flag = 0
    </select>

    <select id="getPriceByShopProdId" resultType="Long">
        select kcgd.price from kry_combo_group kcg
        inner join kry_combo_group_detail kcgd on kcgd.combo_group_id = kcg.id and kcgd.del_flag = 0
        where kcg.shop_prod_id = #{shopProdId}
        and kcgd.single_dish_id = ''
        and kcg.del_flag = 0
    </select>



    <select id="getSpecByShopProdSpecIds" resultType="com.pinet.rest.entity.vo.ComboSingleProductSpecVo">
        select
            sps.id as shopProdSpecId,
            sps.spec_name as shopProdSpecName,
            ifnull(kcgd.dish_sku_price,0) as addPrice
        from kry_combo_group kcg
        left join kry_combo_group_detail kcgd on kcg.id = kcgd.combo_group_id and kcgd.del_flag = 0
        left join shop_product single on single.prod_id = kcgd.single_dish_id and single.shop_id = #{shopId}
        left join shop_product_spec sps on sps.shop_prod_id = single.id and kcgd.spec_name = sps.spec_name and sps.del_flag = 0
        where sps.id in
        <foreach collection="ids" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        and kcg.del_flag = 0
    </select>
</mapper>
