<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinet.rest.mapper.KryComboGroupDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinet.rest.entity.KryComboGroupDetail">
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="dish_id" property="dishId" />
        <result column="combo_group_id" property="comboGroupId" />
        <result column="single_dish_id" property="singleDishId" />
        <result column="max_choose" property="maxChoose" />
        <result column="min_choose" property="minChoose" />
        <result column="fix_choose" property="fixChoose" />
        <result column="dish_sku_id" property="dishSkuId" />
        <result column="dish_sku_price" property="dishSkuPrice" />
        <result column="opt_type" property="optType" />
        <result column="default_flag" property="defaultFlag" />
        <result column="dish_name" property="dishName" />
        <result column="spec_name" property="specName" />
        <result column="sell_price" property="sellPrice" />
        <result column="multi_spec_flag" property="multiSpecFlag" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        dish_id, combo_group_id, single_dish_id, max_choose, min_choose, fix_choose, dish_sku_id, dish_sku_price, opt_type, default_flag, dish_name, spec_name, sell_price, multi_spec_flag, sort
    </sql>

    <select id="getByOrderProdId" resultType="com.pinet.rest.entity.vo.KryComboGroupDetailVo">
        select kcgd.id,
        kcgd.dish_id,
        kcgd.combo_group_id,
        kcgd.single_dish_id,
        kcgd.max_choose,
        kcgd.min_choose,
        kcgd.fix_choose,
        kcgd.dish_sku_id,
        kcgd.dish_sku_price,
        kcgd.opt_type,
        kcgd.default_flag,
        kcgd.dish_name,
        kcgd.spec_name,
        kcgd.sell_price,
        kcgd.multi_spec_flag,
        kcgd.sort,
        sp.unit_id,
        sp.unit,
        sp.dish_code,
        sp.product_img as imageUrl
        from kry_combo_group_detail kcgd
        left join shop_product sp on sp.prod_id = kcgd.single_dish_id and sp.shop_id = #{shopId} and sp.del_flag = 0
        where kcgd.id in
        (select shop_prod_spec_id from order_product_spec where order_prod_id = #{orderProdId} and prod_sku_name != '规格' and del_flag = 0)
        and kcgd.del_flag = 0
        order by kcgd.id
    </select>
</mapper>
