<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinet.rest.mapper.OrderSideMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinet.rest.entity.OrderSide">
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="order_id" property="orderId" />
        <result column="order_prod_id" property="orderProdId" />
        <result column="side_detail_id" property="sideDetailId" />
        <result column="quantity" property="quantity" />
        <result column="add_price" property="addPrice" />
        <result column="total_price" property="totalPrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        order_id, order_prod_id, side_detail_id, quantity, add_price, total_price
    </sql>

    <sql id="Order_Side_Column">
        os.id, os.order_id, os.order_prod_id, os.side_detail_id, os.quantity, os.add_price, os.total_price, ksdgd.side_dish_id, ksdgd.side_dish_name
    </sql>

    <select id="getByOrderId" resultType="com.pinet.rest.entity.vo.OrderSideVo">
        select <include refid="Order_Side_Column"/>
        from order_side os
        left join kry_side_dish_group_detail ksdgd on ksdgd.id = os.side_detail_id and ksdgd.del_flag = 0
        where os.order_id = #{orderId} and os.del_flag = 0
    </select>

    <select id="getByOrderProdId" resultType="com.pinet.rest.entity.vo.OrderSideVo">
        select <include refid="Order_Side_Column"/>
        from order_side os
        left join kry_side_dish_group_detail ksdgd on ksdgd.id = os.side_detail_id and ksdgd.del_flag = 0
        where os.order_prod_id = #{orderProdId} and os.del_flag = 0
        order by os.id desc
    </select>

</mapper>
