<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinet.rest.mapper.OrderProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinet.rest.entity.OrderProduct">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="order_id" property="orderId"/>
        <result column="shop_prod_id" property="shopProdId"/>
        <result column="prod_name" property="prodName"/>
        <result column="prod_unit_price" property="prodUnitPrice"/>
        <result column="prod_num" property="prodNum"/>
        <result column="prod_price" property="prodPrice"/>
        <result column="prod_img" property="prodImg"/>
        <result column="commission" property="commission"/>
        <result column="package_fee" property="packageFee"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        order_id, shop_prod_id, prod_name, prod_unit_price, prod_num, prod_price, prod_sku_id, prod_sku_name, shop_prod_spec_id, prod_spec_name,prod_img,commission,package_fee
    </sql>
    <select id="selectOrderProduct" resultType="com.pinet.rest.entity.bo.OrderProductBo" parameterType="java.lang.Long">
        select op.id             orderProductId,
               op.prod_name      prodName,
               op.prod_sku_name  prodSkuName,
               op.prod_spec_name prodSpecName,
               op.prod_num       prodNum,
               sp.product_img    productImg,
               op.prod_price     prodPrice
        from qingshi.order_product op
                 left join qingshi.shop_product sp on sp.id = op.shop_prod_id
        where op.del_flag = 0
          and op.order_id = #{orderId}
    </select>


    <resultMap id="selectByOrderIdResultMap" type="com.pinet.rest.entity.OrderProduct">
        <result column="order_product_id" property="id"/>
        <result column="op_order_id" property="orderId"/>
        <result column="shop_prod_id" property="shopProdId"/>
        <result column="prod_name" property="prodName"/>
        <result column="prod_unit_price" property="prodUnitPrice"/>
        <result column="prod_num" property="prodNum"/>
        <result column="prod_price" property="prodPrice"/>
        <result column="prod_img" property="prodImg"/>
        <result column="dish_id" property="dishId"/>
        <result column="unit" property="unit"/>
        <collection property="orderProductSpecs" resultMap="orderProdSpecResultMap"/>
    </resultMap>

    <resultMap id="orderProdSpecResultMap" type="com.pinet.rest.entity.OrderProductSpec">
        <result column="order_product_spec_id" property="id"/>
        <result column="ops_order_id" property="orderId"/>
        <result column="order_prod_id" property="orderProdId"/>
        <result column="prod_sku_name" property="prodSkuName"/>
        <result column="prod_sku_id" property="prodSkuId"/>
        <result column="prod_spec_name" property="prodSpecName"/>
        <result column="shop_prod_spec_id" property="shopProdSpecId"/>
    </resultMap>

    <select id="selectByOrderId" resultMap="selectByOrderIdResultMap">
        select op.id order_product_id,
               op.order_id op_order_id,
               op.shop_prod_id,
               op.prod_name,
               op.prod_unit_price,
               op.prod_num,
               op.prod_price,
               op.prod_img,
               op.commission,
               op.dish_id,
               op.unit,
               ops.id order_product_spec_id,
               ops.order_id ops_order_id,
               ops.order_prod_id,
               ops.prod_sku_name,
               ops.prod_sku_id,
               ops.prod_spec_name,
               ops.shop_prod_spec_id
        from qingshi.order_product op
                 left join order_product_spec ops on op.id = ops.order_prod_id
        where op.order_id = #{orderId} and op.del_flag = 0
    </select>

    <select id="getByOrderId" resultType="com.pinet.rest.entity.dto.OrderProductDto">
         SELECT sp.id,
            sp.kry_shop_id,
            sp.prod_id ,
            sp.dish_code ,
            sp.unit_id ,
            sp.unit ,
            sp.dish_type ,
            sp.product_name ,
            sp.product_img ,
            sp.product_desc ,
            op.id as orderProductId,
            op.order_id ,
            op.prod_unit_price ,
            op.prod_num ,
            op.prod_price ,
            op.package_fee,
			(CASE sp.dish_type WHEN 'COMBO' THEN  kcgd.dish_sku_id ELSE sps.kry_sku_id END ) kry_sku_id,
            (CASE sp.dish_type WHEN 'COMBO' THEN  NULL ELSE sps.sku_code END ) sku_code,
			(CASE sp.dish_type WHEN 'COMBO' THEN  kcgd.dish_name ELSE sps.sku_name END ) sku_name
        FROM order_product op
        LEFT JOIN shop_product sp ON op.shop_prod_id = sp.id AND sp.del_flag = 0
        LEFT JOIN order_product_spec ops ON ops.order_id = op.order_id AND ops.order_prod_id = op.id AND ops.del_flag = 0
        LEFT JOIN shop_product_spec sps ON sps.id = ops.shop_prod_spec_id AND (sps.cooking_way_id = '' OR sps.cooking_way_id IS NULL) AND sps.del_flag = 0
		LEFT JOIN kry_combo_group_detail kcgd ON  kcgd.id = ops.shop_prod_spec_id AND kcgd.del_flag = 0
		LEFT JOIN kry_combo_group kcg ON kcg.id = kcgd.combo_group_id
        WHERE op.order_id = #{orderId} AND (sps.kry_sku_id IS NOT NULL OR kcg.kry_sku_id IS NOT NULL)
    </select>
</mapper>
