<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinet.rest.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinet.rest.entity.Orders">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="order_no" property="orderNo"/>
        <result column="kry_order_no" property="kryOrderNo"/>
        <result column="order_type" property="orderType"/>
        <result column="order_status" property="orderStatus"/>
        <result column="customer_id" property="customerId"/>
        <result column="shop_id" property="shopId"/>
        <result column="kry_shop_id" property="kryShopId"/>
        <result column="shop_name" property="shopName"/>
        <result column="order_price" property="orderPrice"/>
        <result column="order_prod_price" property="orderProdPrice"/>
        <result column="discount_amount" property="discountAmount"/>
        <result column="shipping_fee" property="shippingFee"/>
        <result column="package_fee" property="packageFee"/>
        <result column="estimate_arrival_start_time" property="estimateArrivalStartTime"/>
        <result column="estimate_arrival_end_time" property="estimateArrivalEndTime"/>
        <result column="actual_arrival_time" property="actualArrivalTime"/>
        <result column="order_distance" property="orderDistance"/>
        <result column="remark" property="remark"/>
        <result column="share_id" property="shareId"/>
        <result column="commission" property="commission"/>
        <result column="customer_coupon_id" property="customerCouponId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        order_no, kry_order_no, order_type, order_status, customer_id, shop_id, kry_shop_id, shop_name, order_price, order_prod_price,discount_amount, shipping_fee,package_fee, estimate_arrival_start_time, estimate_arrival_end_time, actual_arrival_time, order_distance, remark,share_id,commission, customer_coupon_id
    </sql>


    <select id="selectOrderList" resultType="com.pinet.rest.entity.vo.OrderListVo" parameterType="java.lang.Long">
        select o.id           orderId,
               o.order_no     orderNo,
               o.shop_name    shopName,
               o.order_status orderStatus,
               o.create_time  createTime,
               o.order_price  orderPrice,
               o.order_type   orderType,
               o.shop_id      shopId
        from `orders` o
        where o.del_flag = 0
          and o.customer_id = #{customerId,jdbcType=BIGINT}
        order by o.create_time desc
    </select>

    <select id="selectOrderDetail" resultType="com.pinet.rest.entity.vo.OrderDetailVo" parameterType="java.lang.Long">
        select o.id                          orderId,
               o.order_no                    orderNo,
               o.kry_order_no                kryOrderNo,
               o.meal_code                   mealCode,
               o.order_type                  orderType,
               o.customer_id                 customerId,
               o.order_status                orderStatus,
               o.estimate_arrival_start_time estimateArrivalStartTime,
               o.estimate_arrival_end_time   estimateArrivalEndTime,
               o.shop_name                   shopName,
               o.shop_id                     shopId,
               o.kry_shop_id                 kryShopId,
               o.order_prod_price            orderProdPrice,
               o.shipping_fee                shippingFee,
               o.order_price                 orderPrice,
               o.create_time                 createTime,
               o.remark,
               o.discount_amount             discountAmount
        from `orders` o
        where o.del_flag = 0
          and o.id = #{orderId}
    </select>
    <select id="countShopOrderMakeNum" resultType="java.lang.Integer">
        select ifnull(count(1), 0)
        from `orders`
        where del_flag = 0
          and shop_id = #{shopId}
          and create_time > #{queryDate}
          and order_status = 30
    </select>
    <select id="countMember" resultType="com.pinet.rest.entity.vo.MemberVo">
        select count(create_time > curdate() or null)                     todayOrderCount,
               ifnull(sum(if(create_time > curdate(), commission, 0)), 0) todaySumPrice,
               ifnull(sum(if(create_time &lt; curdate() and create_time > DATE_SUB(curdate(), INTERVAL 1 DAY),
                             commission, 0)), 0)                          yesterdaySumPrice
        from orders
        where share_id = #{customerId}
          and del_flag = 0
    </select>

    <resultMap id="selectRecommendListResultMap" type="com.pinet.rest.entity.vo.RecommendListVo">
        <id column="date" property="date"/>
        <collection property="recommendTimeBos" resultMap="recommendTimeBosResultMap"/>
    </resultMap>

    <resultMap id="recommendTimeBosResultMap" type="com.pinet.rest.entity.bo.RecommendTimeBo">
        <id column="o_id" property="orderId"/>
        <id column="time" property="time"/>
        <id column="avatar" property="avatar"/>
        <id column="nickname" property="nickName"/>
        <id column="commission" property="commission"/>
    </resultMap>

    <select id="selectRecommendList" resultMap="selectRecommendListResultMap"
            parameterType="com.pinet.rest.entity.dto.RecommendListDto">
        select DATE_FORMAT(o.create_time, '%Y-%m-%d') date,
        o.id o_id,
        DATE_FORMAT(o.create_time, '%H:%i') time,
        c.avatar,
        c.nickname,
        o.commission
        from orders o
        left join xjs.customer c on c.customer_id = o.customer_id
        where o.share_id = #{dto.customerId}
        <if test="dto.queryDate != null">
            and o.create_time > #{dto.queryDate} and o.create_time &lt; date_add(#{dto.queryDate},INTERVAL 1 DAY)
        </if>
        order by o.create_time desc
    </select>
    <select id="selectRecommendIndexList" resultType="com.pinet.rest.entity.bo.RecommendTimeBo">
        select o.id                                         orderId,
               DATE_FORMAT(o.create_time, '%Y-%m-%d %H:%i') time,
               c.avatar,
               c.nickname,
               o.commission
        from orders o
                 left join xjs.customer c on c.customer_id = o.customer_id
        where o.share_id = #{customerId}
        order by o.create_time desc
        limit 3
    </select>
    <select id="selectPickUpList" resultType="com.pinet.rest.entity.vo.PickUpListVo">
        select create_time createTime, shop_name shopName, id, order_status orderStatus, meal_code
        from qingshi.orders
        where customer_id = #{customerId}
          and order_status in (30, 40)
        order by create_time desc
    </select>
</mapper>
