<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinet.rest.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinet.rest.entity.Product">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="product_name" property="productName"/>
        <result column="product_img" property="productImg"/>
        <result column="product_desc" property="productDesc"/>
        <result column="product_type_id" property="productTypeId"/>
        <result column="product_type" property="productType"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        product_name, product_img, product_desc, product_type_id, product_type
    </sql>
    <resultMap id="selectProductListResultMap" type="com.pinet.rest.entity.vo.ProductListVo">
        <id column="product_type_id" property="typeId"/>
        <result column="product_type" property="typeName"/>
        <collection property="productList" resultMap="selectProdSpecResultMap"/>
    </resultMap>
    <resultMap id="selectProdSpecResultMap" type="com.pinet.rest.entity.vo.MemberRecommendProdVo">
        <result column="product_name" property="productName"/>
        <result column="product_img" property="productImg"/>
        <result column="marketPrice" property="marketPrice"/>
        <result column="productId" property="productId"/>
    </resultMap>
    <select id="selectProductList" resultMap="selectProductListResultMap">
        select p.id as productId,
			 p.product_type,
			 p.product_type_id,
			 p.product_name,
			 p.product_img,
			 max(ps.price) marketPrice
        from qingshi.shop_product p
        left join qingshi.shop_product_spec ps on ps.shop_prod_id = p.id and ps.del_flag = 0
        left join shop s on s.id = p.shop_id and s.del_flag = 0
        where p.del_flag = 0 and s.shop_status = 1 and p.shop_id = #{shopId} and p.shop_prod_status = 1
        GROUP BY p.id
    </select>

</mapper>
