<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinet.rest.mapper.ShopProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinet.rest.entity.ShopProduct">
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="shop_id" property="shopId" />
        <result column="prod_id" property="prodId" />
        <result column="product_name" property="productName" />
        <result column="product_img" property="productImg" />
        <result column="product_desc" property="productDesc" />
        <result column="product_type_id" property="productTypeId" />
        <result column="product_type" property="productType" />
        <result column="price" property="price" />
        <result column="market_price" property="marketPrice" />
        <result column="shop_prod_status" property="shopProdStatus" />
    </resultMap>


    <resultMap id="ShopProductMap" type="com.pinet.rest.entity.vo.ShopProductVo">
        <id column="id" property="id" />
        <result column="prod_id" property="prodId" />
        <result column="product_name" property="productName" />
        <result column="product_img" property="productImg" />
        <result column="product_desc" property="productDesc" />
        <result column="shop_id" property="shopId" />
        <result column="product_type_id" property="productTypeId" />
        <result column="product_type" property="productType" />
        <result column="price" property="price" />
        <result column="market_price" property="marketPrice" />
        <collection property="skuList" resultMap="SkuMap" />
    </resultMap>

    <resultMap id="SkuMap" type="com.pinet.rest.entity.vo.ShopProductSkuVo">
        <result column="skuId" property="skuId" />
        <result column="skuName" property="skuName" />
        <collection property="skuSpecs" resultMap="SkuSpecsMap" />
    </resultMap>

    <resultMap id="SkuSpecsMap" type="com.pinet.rest.entity.vo.ShopProductSpecVo">
        <result column="prod_spec_id" property="prodSpecId" />
        <result column="spec_name" property="specName" />
        <result column="sku_id" property="skuId" />
        <result column="spsPrice" property="price" />
        <result column="market_price" property="marketPrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        shop_id, prod_id, product_name, product_img, product_desc, product_type_id, product_type, price,market_price, shop_prod_status
    </sql>

    <select id="getProductByShopId" resultType="com.pinet.rest.entity.vo.HotProductVo">
        select sp.shop_id,sp.prod_id,sp.product_name,sp.product_img, sp.price, sp.market_price, sum(op.prod_num) sellnum
        from shop_product sp
        left join order_product op on sp.prod_id = op.shop_prod_id and op.del_flag = 0
        where sp.shop_id = #{shopId} and sp.shop_prod_status = 1 and sp.del_flag = 0
        group by sp.prod_id
        <!-- 根据下单量排序 -->
        order by sellnum desc
        limit 16
    </select>

    <select id="selectRecommendList" resultType="com.pinet.rest.entity.vo.RecommendProductVo">
         select sp.shop_id,sp.prod_id,sp.product_name,sp.product_img,sp.price,sp.market_price
         from shop_product sp
         where sp.shop_prod_status = 1 and sp.del_flag= 0
         order by RAND()
         limit 8
    </select>

    <select id="selectRecommendListByUserId" resultType="com.pinet.rest.entity.vo.RecommendProductVo">
         select sp.shop_id,sp.prod_id,sp.product_name,sp.product_img,sp.price,sp.market_price
         from shop_product sp
         inner join product_glance_over pgo on sp.prod_id = pgo.prod_id and pgo.del_flag = 0
         where pgo.customer_id = #{userId} and sp.shop_prod_status = 1 and sp.del_flag= 0
         order by pgo.times desc
         limit 8
    </select>


    <select id="getDetailById" resultType="com.pinet.rest.entity.vo.ShopProductVo">
         select sp.id,
         sp.prod_id,
         sp.product_name,
         sp.product_img,
         sp.product_desc,
         sp.shop_id,
         sp.product_type_id,
         sp.product_type,
         sps.price as productPriice,
         sp.market_price as productMarketPrice,
         ps.id as skuId,
         ps.sku_name as skuName,
         sps.prod_spec_id,
         sps.spec_name,
         sps.sku_id,
         sps.price as spsPrice,
         sps.market_price as spsMarketPrice
         from shop_product sp
         left join shop_product_spec sps on sps.shop_prod_id = sp.prod_id and sps.del_flag = 0
         left join product_sku ps on ps.id = sps.sku_id and ps.del_flag = 0
         where sp.id = #{id}
    </select>

</mapper>
