<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinet.rest.mapper.ShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinet.rest.entity.Shop">
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
        <result column="shop_name" property="shopName" />
        <result column="avatar" property="avatar" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="province_id" property="provinceId" />
        <result column="city_id" property="cityId" />
        <result column="district_id" property="districtId" />
        <result column="address" property="address" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="linkman" property="linkman" />
        <result column="shop_phone" property="shopPhone" />
        <result column="shop_status" property="shopStatus" />
        <result column="work_time" property="workTime" />
        <result column="finish_time" property="finishTime" />
        <result column="delivery_platform" property="deliveryPlatform" />
        <result column="is_support_delivery" property="supportDelivery" />
        <result column="kry_shop_id" property="kryShopId" />
        <result column="delivery_shop_no" property="deliveryShopNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        shop_name, avatar, province, city, district, province_id, city_id, district_id, address, lng, lat, linkman, shop_phone, shop_status,work_time,finish_time, delivery_platform, is_support_delivery, kry_shop_id, delivery_shop_no
    </sql>

    <select id="getMinDistanceShop" resultType="Long">
        SELECT id FROM (
            SELECT id,
            ROUND(
                6378.138 * 2 * ASIN(
                    SQRT(
                        POW( SIN( ( #{lat}* PI() / 180- lat * PI() / 180 ) / 2 ), 2 ) + COS( #{lat} * PI() / 180 ) * COS( lat * PI() / 180 ) * POW( SIN( ( #{lng} * PI() / 180- lng * PI() / 180 ) / 2 ), 2 )
                    )
                ) * 1000
            ) AS distance
            FROM shop s
            WHERE del_flag = 0
            AND shop_status = 1
            AND EXISTS (SELECT 1 FROM shop_product WHERE shop_id = s.id AND shop_prod_status = 1 AND del_flag = 0 )
            ORDER BY
            distance ASC
            LIMIT 1
        ) t
    </select>

    <select id="shopList" resultType="com.pinet.rest.entity.vo.ShopVo">
        select <include refid="Base_Column_List"/> ,
        <!-- 查询店铺未完成订单数量限8小时内订单 -->
        (select count(id) from orders where shop_id = shop.id  and order_status in (20,30,31,32)
            and (create_time BETWEEN subdate(now(), interval 8 hour)  AND now() and del_flag = 0)) as orderNum
        from shop
        where shop_status = 1
        <if test="city != null and city != ''">
            and city = #{city}
        </if>
        and del_flag = 0
        and exists (select 1 from shop_product where shop.id = shop_id and shop_prod_status = 1 and del_flag = 0)
    </select>

</mapper>
