<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinet.rest.mapper.ShopProductSpecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pinet.rest.entity.ShopProductSpec">
        <result column="id" property="id"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="shop_prod_id" property="shopProdId"/>
        <result column="prod_spec_id" property="prodSpecId"/>
        <result column="spec_name" property="specName"/>
        <result column="sku_id" property="skuId"/>
        <result column="kry_sku_id" property="krySkuId"/>
        <result column="sku_code" property="skuCode"/>
        <result column="sku_name" property="skuName"/>
        <result column="price" property="price"/>
        <result column="stock" property="stock"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        del_flag,
        shop_prod_id, prod_spec_id, spec_name, sku_id, kry_sku_id,sku_code,  price, sku_name, stock
    </sql>

    <update id="updateStock">
        update shop_product_spec
        set stock = stock - #{num}
        where id = #{shopProductSpecId}
          and stock >= #{num}
    </update>

    <update id="addStock">
        update shop_product_spec
        set stock = stock + #{num}
        where id = #{shopProductSpecId}
    </update>

    <select id="getPriceByShopProdId" resultType="java.math.BigDecimal">
        select sum(price) from shop_product_spec where shop_prod_id = #{shopProdId} and del_flag = 0
    </select>

</mapper>
